<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Zodiac Controller</h1>
    <%- body %>
    <ul>
        <li><a href="/air">Air</a></li>
        <li><a href="/earth">Earth</a></li>
        <li><a href="/fire">Fire</a></li>
        <li><a href="/water">Water</a></li>
        <li><a href="/">Home</a></li>
    </ul>
    <h3>Bottom Text</h3>
</body>
</html>